<h2>List of answers in question {{question.id}}</h2>
<p>{{question.question}}</p>
<table mat-table [dataSource]="question.answers" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>

  <ng-container matColumnDef="answer_start">
    <th mat-header-cell *matHeaderCellDef>Answer Start</th>
    <td mat-cell *matCellDef="let row">{{row.answer_start}}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let row">{{row.author}}</td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef>Text</th>
    <td mat-cell *matCellDef="let row">{{row.text}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button mat-raised-button color="warn" (click)="deleteAnswer($event, row)">delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<br/>
<app-add-answer (created)="refreshData($event)"></app-add-answer>
